{% extends "basefront.html.twig" %}

{%  block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left" scop="col">Ville</th>
                <th class="text-left" scop="col">Pays</th>
                <th class="text-left" scop="col">Note</th>
                <th class="text-left" scop="col">Date</th>
            </tr>
        </thead>
        <tbody>           
            {% for visite in visites %}
                <tr>
                    <td>
                        <h5 class=""text-primary">
                            <a href="#">{{ visite.ville }}</a>
                        </h5>
                    </td>
                    <td>
                        {{ visite.ville }}
                    </td>
                    <td class="text-left">
                        <strong>
                            {% if visite.note<10 %}
                                <div class="text-danger">
                                    {{  visite.note }}/20
                                </div>
                            {% else %}
                                <div class="text-success">
                                    {{ visite.note }}/20
                                </div>
                            {% endif %}
                        </strong>
                    </td>
                    <td class="text-center">
                        {{ visite.datecreationstring }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}